.likes{
    font-size: 1.5rem;
    transition: color 0.2s;
}

.likes:hover{
    cursor: pointer;
    color: #e33d3d !important;
}

.scroll-custom::-webkit-scrollbar {
    width: 5px; 
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.scroll-custom::-webkit-scrollbar-track-piece {
    background-color: white;
    border-radius: 10px;
}