.embed-container {
    max-width: 540px;
    margin: 0 auto;
  }
  
  .embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive::before {
    display: block;
    content: "";
  }
  
  .embed-responsive-1by1::before {
    padding-top: 100%;
  }
  
  .embed-responsive-4by3::before {
    padding-top: 75%;
  }
  
  .embed-responsive-3by2::before {
    padding-top: 66.66%;
  }
  
  .embed-responsive-8by5::before {
    padding-top: 62.5%;
  }
  
  .embed-responsive-16by9::before {
    padding-top: 56.25%;
  }
  
  .embed-responsive iframe,
  .embed-responsive video,
  .embed-responsive object,
  .embed-responsive .embed-responsive-item,
  .embed-responsive embed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }